<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supretest.base.mapper.ext.ExtApiScenarioReferenceIdMapper">
    <select id="selectUrlByProjectId" resultType="com.supretest.base.domain.ApiScenarioReferenceId">
        SELECT method,url from api_scenario_reference_id WHERE api_scenario_id in (
            SELECT id from api_scenario WHERE project_id = #{0}
        <if test="subProjectId != null">
            and sub_project_id = #{subProjectId}
        </if>
        ) AND url IS NOT NULL AND method IS NOT NULL;
    </select>

</mapper>